.row {
    display: flex;
}

.column {
    width: 50%;
}

#col1 {
    text-align: center;
    padding-left: 1%;
}
#col2 {
    text-align: right;
    padding-right: 1%;
}

#colA1 {
    text-align: left;
    padding-left: 30%;
}
#colA2 {
    text-align: right;
    padding-right: 30%;
}