body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.row {
    display: flex;
}

.column {
    width: 50%;
}

.wideColumn {
    width: 67%;
    padding-left: 1%;
    padding-right: 1%;
}
.narrowColumn {
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
}

#centered {
    text-align: center;
}

#linkList {
    border-left: 5px solid black;
    background-color: lightgrey;
    padding: 1%;
}

#skillList {
    border-left: 5px solid black;
    padding-left: 1%;
}

#projectPageButton {
    font-size: 24px;
    border: 3px solid black;
    border-radius: 5%;
}
#projectLinkButton {
    font-size: 18px;
    border: 3px solid black;
    border-radius: 5%;
}

#projectList {
    border-left: 5px solid black;
    background-color: lightgrey;
    padding-left: 0.5%;
    padding-bottom: 1%;
}

#projectsDescriptionTitle {
    font-size: 24px;
}

#bottomButton {
    padding-top: 30%;
}