body {
    font-family: 'Courier New', Courier, monospace;
}

.backToPortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-decoration: none;
}

option, select, button {
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

.row {
    display: flex;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.column1 {
    flex: 75%;
}

.column2 {
    flex: 40%;
    padding-right: 5%;
}

#title {
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}